<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lehman.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/android_menu_icon"
        android:label="@string/app_name">
         <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/> 
        <activity
            android:name="edu.lehman.android.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.lehman.android.GameSettingsActivity"
            android:label="@string/title_activity_game_settings_panel" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="edu.lehman.android.SheepHerderActivity"
            android:label="@string/title_activity_sheep_herder" 
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        
    	<activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>    
        
   </application>

</manifest>
